.main--page{
    display: flex;
    flex-direction: column;
}

.main--content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main--fullname{
    background: linear-gradient(90deg, #F92CA8 27.1%, #40E8F9 86.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.cards--div{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    align-items: center;
}

.projects--div{
    height: 100vh;
    width: 100vw;
    background-color: #9493D4;
}

@media only screen and (max-width: 700px) {
    .main--content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cards--div{
        display: flex;
        flex-direction: column;
    }
}